[submodule "libs/lua/lua"]
	path = libs/lua/lua
	url = https://github.com/xiaobin83/lua
	branch = master
[submodule "libs/lua/protoc-gen-lua"]
	path = libs/lua/protoc-gen-lua
	url = https://github.com/xiaobin83/protoc-gen-lua
	branch = master
[submodule "libs/lua/vscode-lua-debug"]
	path = libs/lua/vscode-lua-debug
	url = https://github.com/xiaobin83/vscode-lua-debug.git
[submodule "libs/asmjit"]
	path = libs/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "libs/lua/luasocket"]
	path = libs/lua/luasocket
	url = https://github.com/xiaobin83/luasocket.git
