[submodule "libs/lua/lua"]
	path = libs/lua/lua
	url = https://github.com/xiaobin83/lua
	branch = master
[submodule "libs/lua/protoc-gen-lua"]
	path = libs/lua/protoc-gen-lua
	url = https://github.com/xiaobin83/protoc-gen-lua
	branch = master
[submodule "libs/lua/luasocket"]
	path = libs/lua/luasocket
	url = https://github.com/xiaobin83/luasocket.git
	branch = dev
[submodule "libs/lua/luajson"]
	path = libs/lua/luajson
	url = https://github.com/harningt/luajson.git
[submodule "libs/lua/VSCodeLuaDebug"]
	path = libs/lua/VSCodeLuaDebug
	url = https://github.com/xiaobin83/VSCodeLuaDebug.git
	branch = lua-5.3

[submodule "tools/Stripper2.Chain"]
	path = tools/Stripper2.Chain
	url = https://github.com/xiaobin83/project_u_stripper2_chain
